.div{
    display: flex;
    justify-content: center;
}
.input{
    padding: 6px;
    border: none;
    border-radius: 10px;
    box-shadow: 4px 4px 4px rgb(240, 0, 248);
    height: 25px;
    margin-right: 10px;
    background-image: url(gif12.webp);
}
.button{
    border-radius: 15px;
    width: 70px;
    height: 25px;
    border: none;
    border-radius: 10px;
    box-shadow: 4px 4px 4px rgb(255, 0, 242);
    background-image: url(gif11.gif);
    opacity: 80%;
    color: white;
    letter-spacing: 2px;
    font-size: 12px;
    font-family: fantasy;
}